.block.quote {
  margin: 1rem 0;
  padding-inline-start: 1rem;

  border-inline-start: 4px solid;

  >p {
    padding-bottom: 0.5rem;

    border-bottom: 1px solid;
  }

  >cite {
    display: block;

    padding-top: 0.5rem;

    font-size: 0.75rem;
  }
}
